@page "{returnTo?}"
@model Aisoftware.Tracker.Admin.Pages.IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutOut";
}

<div class="card-body">
    <div class="d-flex align-items-center justify-content-between m-b-30">
        <img class="img-fluid" style="max-width: 60%!important;" alt=""
             src="~/images/logo/logo.png">
        <h2 class="m-b-0">Login</h2>
    </div>
    <form method="post" asp-page-handler="Login" autocomplete="off">
        <div class="form-group">
            <label class="font-weight-semibold" for="userName">Usuário:</label>
            <div class="input-affix">
                <i class="prefix-icon anticon anticon-user"></i>
                <input type="email" class="form-control" id="username"
                       placeholder="Usuário" required asp-for="@Model.User.Email">
                <span asp-validation-for="@Model.user.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="font-weight-semibold" for="password">Senha:</label>
            <a class="float-right font-size-13 text-muted" href="">Esqueceu a senha?</a>
            <div class="input-affix m-b-10">
                <i class="prefix-icon anticon anticon-lock"></i>
                <input type="password" class="form-control" id="password"
                       placeholder="Senha" required asp-for="@Model.user.Password">
                <span asp-validation-for="@Model.user.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-size-13 text-muted">
                    <div class="checkbox">
                        <input id="remember" type="checkbox" checked="" asp-for="@Model.IsRemember">
                        <label for="remember">Lembre-se</label>
                    </div>
                </span>
                <button class="btn btn-primary" id="btnlogin">Entrar</button>
            </div>
        </div>
    </form>
</div>