@model Aisoftware.Tracker.Borders.ViewModels.ReportSummaryViewModel

<section class="content-header">
    <h1>
        Relatórios/Resumo
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Relatórios</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Relatórios de Resumo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body overflow-x">
                    <table id="data-table" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id Dispositivo</th>
                                <th>Placa</th>
                                <th>Velocidade Máxima</th>
                                <th>Velocidade Média</th>
                                <th>Distancia</th>
                                <th>Combistível</th>
                                <th>Horas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Summaries)
                            {
                                string placa = Model.Devices?.Where(x => x.Id == item?.DeviceId)?.FirstOrDefault()?.Name;

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => placa)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DeviceName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaxSpeed)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AverageSpeed)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Distance)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SpentFuel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.EngineHours)</td>
                                </tr>
                            }
                    </table>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box-footer">
                                <a href="/@ViewBag.ControllerName?report=summary" class="btn btn-default">Voltar</a>

                                <a href="/@ViewBag.ControllerName/ExportToCsv?deviceId=@ViewBag.deviceId&groupId=@ViewBag.groupId&from=@ViewBag.from&to=@ViewBag.to&typeReport=summary" class="btn btn-success pull-right"
                                    style="margin-left: 15px;"><i class="fas fa-file-excel"></i> Exportar em Excel</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!-- DataTables -->
<script src="/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/dist/js/dataTablesConfig.js"></script>

<!-- page script -->
<script>
    function Delete(id) {
        var txt;
        var r = confirm("Você tem certeza que deseja excluir este usuário?");
        if (r == true) {

            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("Delete", "@ViewBag.ControllerName")',
                    data: {
                        id: id
                    },
                    error: function (result) {
                        alert("error");
                    },
                    success: function (result) {
                        if (result == true) {
                            var baseUrl = "/@ViewBag.ControllerName";
                            window.location.reload();
                        }
                        else {
                            alert("Houve um problema inesperado, Tente novamente mais tarde!");
                        }
                    }
                });
        }
    }
</script>